---
layout: page
---

<center>
  <h1>
    <script>
      var questions = [
          'Where did you grow up?',
          'What were you most excited about coming to MIT?',
          'What brought you to GCF?',
          'What was your favorite class at MIT?',
          'What do you enjoy doing on the weekends?',
          'Where would you like to travel if you can?',
          'What’s your favorite food?',
          'What’s your favorite color?',
          'What kind of pet would you like to have?',
          'What’s your favorite animal?',
          'What are some of your hobbies?',
          'What’s your favorite ice cream flavour?',
          'Do you have a restaurant to recommend around MIT?',
          'What’s your favorite drink?',
          'When’s your birthday?',
          'What’s your favorite holiday?'
      ];
      
      var i = parseInt(Math.random() * questions.length);
      document.write(questions[i]);
    </script>
  </h1>
</center>
