---
layout: page
---

<center>
  <h1>
    <script>
      var questions = [
          'Do you (or would you) enjoy going to church? Why?',
          'What is something that you are wrestling with God about and why? Or what is an existential question that you are trying to figure out?',
          'What is something that you struggle with in your walk with Jesus? Or what is something that you are trying to improve on in your life?',
          'How would you like your relationship with God to grow?',
          'What\'s been the hardest part about being at MIT?',
          'What would be the hardest thing to give up if God asked you to? Why?',
          'What do you wish was different about the world? And about you?',
          'Do you wonder or do you know why God has brought you to MIT?',
          'What\'s your vision for serving God at MIT? Or what\'s your vision for being at MIT?',
          'How has the pandemic impacted you emotionally, mentally, and spiritually?',
      ];
      
      var i = parseInt(Math.random() * questions.length);
      document.write(questions[i]);
    </script>
  </h1>
</center>
