---
layout: page
---

<center>
  <h1>
    <script>
      var questions = [
          'What activities/clubs are you a part of? How did you figure out what you would join?',
          'How is your work-life balance? What advice do you have advice for improving it?',
          'What is one awesome thing you did/wish you had done during your first year?',
          'How often do you go home and how do you manage your relationship with far away loved ones?',
          'What is the hardest lesson you have learned during your time here so far?',
          'What do you do to relax?',
          'Where on campus do you take visitors?',
          'Where is your favorite place to eat on/near campus?',
          'What are the best resources that MIT offers so that you can stay healthy?',
          'Did you experience culture shock when you came here? What caused it?',
          'What are the communities you value the most at MIT?',
          'Where do you spend most of your time (e.g. lab, home, elsewhere)?',
          'What is the best/worst class you took/are taking at MIT? Why?',
          'What are your plans after you graduate?',
          'How does the experience of your friends in other schools or jobs compare you your life at MIT?',
          'What is your best grad school life hack?',
          'How did you get to MIT?',
          'In what parts of GCF do you engage with the most?',
          'What parts of GCF do you wish to engage with more in the future?',
          'How is GCF similar/different from similar groups you have interacted with in the past?',
          'Who is Kevin Ford?',
          'What does it mean to be a leader in GCF?',
          'How did you end up coming to the Welcome Dinner?',
          'What is one question you’re afraid to ask out loud about GCF?',

          'Given the choice of anyone in the world, whom would you want as a dinner guest?',
          'Would you like to be famous? If you had to be, in what way would you prefer?',
          'Before making a telephone call or having a conversation, do you ever rehearse what you are going to say? Why?',
          'What would constitute a "perfect" day for you?',
          'When did you last sing to yourself? To someone else?',
          'If you were able to live to the age of 90 and retain either the mind or body of a 30-year-old for the last 60 years of your life, which would you want?',
          'Do you have a secret hunch about how you will die?',
          'Name three things you and your table appear to have in common.',
          'For what in your life do you feel most grateful?',
          'If you could change anything about the way you were raised, what would it be?',
          'Take four minutes and tell your table your life story in as much detail as possible.',
          'If you could wake up tomorrow having gained any one quality or ability, what would it be?',
          'What is the story behind the time you went the longest without sleep?',
          'What is a quirky or unusual fear that you have?',
          'What’s something in you house you want to get rid of but can\'t? (Please no naming your spouse or children!)',
          'What is the biggest way you\'ve changed since you were a child? In what way are you still the same?',
          'What is one of your biggest pet peeves?',
          'As a child, what did you want to be when you grew up and why?',
          'If you could eat only one food for the rest of your life, what would it be?',
          'What has been your favorite road trip or vacation?',
          'How would you describe your favorite meal — appetizer, drink, entree and/or dessert?',
          'If they were to make a documentary about your life, what would be your favorite scene?',
          'What is one fictional character that you wish was a real person?',
          'What is an item of clothing you wore over and over as a kid?',
          'If you had to do your prom or wedding over again, what would you change? (Besides your date or spouse!)',
          'What is the messiest job you’ve ever had or the biggest mess you’ve ever cleaned up? (If you are eating, you may want to save this question for last.)',
          'What movie or book does everyone love that you don\'t like at all?',
          'It\'s Friday night after a terribly busy week, how do you spend it?',
          'What is one favorite activity from childhood you wish you could do now?',
          'What is the most unique thing you have every ordered online or had to go shopping to find?',
          'What is a home project, craft or hobby that you tried that didn\'t go so well?',
          'Who has been a hero in your life?',
          'If you got something spiritual tattooed on your body, what it would be and what would it symbolize? If you already have a spiritual tattoo, why did you get it? What does it symbolize?',
          'What book or story has had the biggest impact on you (aside from the Bible)?',
          'In the Bible, God gives some figures "new names.” What would you want your new name to be and why? (These can be characteristics, something funny or even just a favorite name with a good association.)',
          'What is one spiritual song or lyric that has really spoken to your heart?',
          'If you were going on a spiritual retreat, what three things (besides your Bible) would you take and why?',
          'What would your perfect day look like?',
          'As you grow older, what is one quality you hope to retain (besides a sound mind)?',
          'What is a trip or experience that had a big spiritual impact on you and why?',
          'What is a memorable quote or scripture verse that has changed you?',
          
          'If a crystal ball could tell you the truth about yourself, your life, the future or anything else, what would you want to know?',
          'What’s one unique role you had in the family you were brought up in? (For example: oldest, baby, funny person, organizer, peacemaker, black sheep.)',
          'If you are married, what was the moment you knew you were in love with your spouse? If you are single, what’s an important trait you look for in a partner?',
          'What is something important a grandparent or older mentor taught you?',
          'Is there something that you\'ve dreamed of doing for a long time? Why haven\'t you done it?',
          'What do you value most in a friendship?',
          'What is your most treasured/terrible memory?',
          'If you knew that in one year you would die suddenly, would you change anything about the way you are now living? Why?',
          'What does friendship mean to you?',
          'What roles do love and affection play in your life?',
          'Tell five people at your table something positive about them. Each of them should then share one positive thing about you.',
          'What is one spiritual tradition you have or always have wanted to have in your life or family?',
          'Even if you have moved a lot, everyone has a "heart home." What is that place for you?',
          'Take a minute to brag about yourself. What is one accomplishment people might not know about that makes you proud?',
          'If you could ask Jesus to change one problem in the world today, which problem would you pick?',
          'Tell us about the most inspirational thing you have experienced (Bible verse, artwork, book, nature, person)?',
          'Finish this sentence, "In order for a spiritual group (e.g. church, small group) to feel safe, I need ...”',
          'Think about your best spiritual friend. What do they do to encourage you?',

          'What is a hard-learned lesson from your life?',
          'What prayer have you been praying the longest? Alternately, what prayer has been answered for you recently?',
          'When was a time when someone showed you deep compassion/love like Jesus?',
          'Make three true "we" statements each. For instance, "We are all in this room feeling ... "',
          'Complete this sentence: "I wish I had someone with whom I could share ... "',
          'If you were going to become a close friend with the people at this table, what would be important for them to know?',
          'What do you like about the people around you? Be very honest and say things that you might not say to someone you’ve just met.',
          'Share an embarrassing moment in your life.',
          'When did you last cry in front of another person? By yourself?',
          'Tell your table something that you like about them already.',
          'What, if anything, is too serious to be joked about?',
          'If you were to die this evening with no opportunity to communicate with anyone, what would you most regret not having told someone? Why haven\'t you told them yet?',
          'Your house, containing everything you own, catches fire. After saving your loved ones and pets, you have time to safely make a final dash to save any one item. What would it be? Why?',
          'Of all the people in your family, whose death would you find most disturbing? Why?',
          'Share a personal problem and ask your table advice on how they might handle it. Also, ask someone at your table to reflect back to you how you seem to be feeling about the problem you have chosen.',          
      ];
      
      var i = parseInt(Math.random() * questions.length);
      document.write(questions[i]);
    </script>
  </h1>
</center>
