---
layout: page
---

<center>
  <h1>
    <script>
      var questions = [
          'What do you think about Jesus?',
          'Do you feel comfortable sharing about Jesus with non-Christians? Or about religion with people who you aren\'t close with?',
          'What brings you comfort in difficult times?',
          'What has been a difficult experience in your life?',
          'What is the most memorable lesson God has taught you/that you’ve learned?',
          'What has been an encouraging moment to you in the past year?',
      ];
      
      var i = parseInt(Math.random() * questions.length);
      document.write(questions[i]);
    </script>
  </h1>
</center>
